<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <title>GameArena</title>
</head>
<body>
    <header>
        <div class="logo">
            <a href=""><img src="{% static "image/logo1.png" height="300" width="300" %}" alt="GameArenaс"></a>
        </div>
        <nav class="menu">
            <div>
                <a href=""><img src="{% static "image/Us.png" %}" alt="О клубе"></a><br>
                <a href="">О нас</a>
            </div>
            <div>
                <a href=""><img src="{% static "image/price.png" %}" alt="Стоимость"></a><br>
                <a href="">Стоимость</a>
            </div>
            <div>
                <a href=""></a><img src="{% static "image/Services.png" %}" alt="Услуги"></a><br>
                <a href="">Услуги</a>
            </div>
            <div>
                <a href=""></a><img src="{% static "image/equipment.png" %}" alt="Оборудование"></a><br>
                <a href="">Оборудование</a>
            </div>
            <div>
                <a href=""></a><img src="{% static "image/Games.png" %}" alt="Игры"></a><br>
                <a href="">Игры</a>
            </div>
            <div>
                <a href=""></a><img src="{% static "image/kontacts.png" %}" alt="Контакты"></a><br>
                <a href="">Контакты</a>
            </div>
            <div>
                <a href=""><img src="{% static "image/franshiza.png" %}" alt="Франшиза"></a><br>
                <a href="">Франшиза</a>
            </div>
        </nav>
    </header>
</body>
</html>